$green: #0b5345;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
}

body.no-scroll {
	height: 100vh;
	overflow: hidden;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header {
	height: 60px;
	display: flex;
	margin: 20px 20px;
	align-items: center;
}

.menu-button {
	appearance: none;
	border: none;
	background: none;
	height: 25px;
	width: 25px;
	padding: 5px;
	fill: $green;
	cursor: pointer;
}

.header-logo {
	height: 100%;
}

.main-heading {
	font-family: 'Encode Sans', sans-serif;
	flex-grow: 1;
	font-size: 1.5em;
	font-weight: 500;
}

main {
	flex-grow: 1;
	background-color: white;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: #0b5345;
	margin: 20px 15px;
	padding: 20px;

	& h1,
	h2,
	h3,
	h4 {
		color: #0b5345;
		font-family: 'Encode Sans', sans-serif;
	}

	& h1 {
		font-weight: 400;
	}

	& h2,
	h3,
	h4 {
		font-weight: 500;
	}

	& strong {
		font-weight: 600;
	}

	p {
		color: black;
		line-height: 24px;

		&:nth-of-type(1) {
			margin-top: 0;
		}
	}

	& a:hover {
		text-decoration: none;
	}

	& img {
		border-radius: 3px;
		width: 100%;
		margin: 20px 0;
	}

	& figure {
		width: 100%;
		margin: 30px auto;
		max-width: 580px;
	}

	& figure > img {
		margin: 0;
	}

	& figcaption {
		color: black;
		padding: 3px;
		text-align: right;
		font-size: 0.75rem;
		font-style: italic;
	}
}

.main-heading-row {
	display: block;
	text-align: end;
	color: $green;
}

.navigation {
	position: absolute;
	z-index: 1;
	background-color: $green;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding-top: 50px;
	transform: translateX(-103vw);
	transition: transform 0.3s ease;
	opacity: 0;
}

.navigation.open {
	opacity: 1;
	transform: translateX(-10vw);
}

.menu-close-container {
	display: flex;
	flex-direction: row-reverse;
	padding: 0 40px;
}

.navigation-links {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	color: white;
	flex-direction: column;
	align-items: center;
}

.navigation-links li {
	margin: 10px 0;
}

.navigation-links li a {
	text-decoration: none;
}

.navigation-links li a:hover {
	text-decoration: underline;
}

td {
	padding: 5px 20px;
}

td:first-of-type {
	font-weight: 600;
}

td:last-of-type {
	font-variant-numeric: tabular-nums;
}

ol {
	margin: 20px 0;
}

ol li {
	margin-top: 20px;
}

.meetings-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 0.75rem;
}

.header-row {
	background-color: lightgray;
	font-weight: 600;
	text-align: center;
}
.meetings-table td:nth-child(n + 2) {
	text-align: center;
	font-variant-numeric: tabular-nums;
}
.meetings-table td,
.meetings-table th {
	border: 1px solid grey;
	padding: 10px 5px;
}

footer {
	padding: 0 30px 50px 30px;
	text-align: center;
	color: white;
	font-size: 0.85rem;
}

.social-links {
	height: 40px;
}

.social-link {
	display: inline-block;
	margin: 10px;
	height: 40px;
	width: 40px;
}

.logo {
	height: 100%;
	width: 100%;
}

.logo.facebook circle {
	fill: white;
}

.logo.facebook path {
	fill: #0b5345;
}

.logo.facebook:hover circle {
	fill: #3c5a9a;
}

.logo.facebook:hover path {
	fill: white;
}

.logo.instagram path {
	fill: white;
}

.logo.instagram:hover path:nth-of-type(1) {
	/* This fill is the gradient defined within the SVG element’s definitions */
	fill: url(#0);
}
.logo.instagram:hover path:nth-of-type(2) {
	/* This fill is the gradient defined within the SVG element’s definitions */
	fill: url(#1);
}

.google-maps-embed {
	margin: auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	min-height: 400px;
}

@media (min-width: 500px) {
	.header {
		height: 100px;
	}
	.header-logo {
		width: 110px;
	}
	.main-heading {
		font-size: 2em;
	}

	.menu-close-container,
	#menuOpen,
	#menuClose {
		display: none;
	}

	.navigation {
		opacity: 1;
		position: static;
		background-color: unset;
		width: unset;
		height: unset;
		padding: 0;
		transform: translateX(0);
	}

	.navigation-links {
		flex-direction: row;
		color: $green;
	}

	main {
		margin-inline: 20px;
		padding-inline: 30px;

		& img {
			width: unset;
			margin: 0;
			max-width: 100%;
		}

		& img:nth-of-type(even) {
			float: left;
			margin-right: 20px;
			margin-left: 0;
		}

		& img:nth-of-type(odd) {
			float: right;
			margin-right: 0;
			margin-left: 20px;
		}
	}

	.meetings-table {
		font-size: 1rem;
	}

	.google-maps-embed {
		min-height: 450px;
	}
}
