:root {
	--green: #0b5345;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
}

body.no-scroll {
	height: 100vh;
	overflow: hidden;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header {
	height: 60px;
	display: flex;
	margin: 20px 20px;
	align-items: center;
	color: var(--green);

	.header-logo {
		fill: var(--green);
		height: 100%;
		width: 80px;
	}

	.main-heading {
		font-family: 'Encode Sans', sans-serif;
		flex-grow: 1;
		font-size: 1.5em;
		font-weight: 500;
	}

	@media (min-width: 500px) {
		height: 100px;

		.header-logo {
			width: 110px;
		}

		.main-heading {
			font-size: 2em;
		}
	}
}

.main-heading-row {
	display: block;
	text-align: end;
}

.mobile-nav-menu-button {
	appearance: none;
	border: none;
	background: none;
	height: 25px;
	width: 25px;
	padding: 5px;
	cursor: pointer;

	&:focus {
		outline: 2px solid currentColor;
	}

	&.mobile-nav-menu-button--open {
		fill: var(--green);
		outline-color: var(--green);
	}

	&.mobile-nav-menu-button--close {
		fill: white;
		outline-color: white;
	}

	@media (min-width: 500px) {
		display: none;
	}
}

.mobile-navigation {
	$width: 95vw;

	display: flex;
	flex-direction: column;
	position: absolute;
	width: $width;
	height: 100vh;
	margin: 0;
	padding: 50px;
	color: white;
	background-color: var(--green);
	transform: translateX(-$width);
	transition: transform 0.3s ease;
	opacity: 0;

	&.open {
		opacity: 1;
		transform: translateX(0vw);
	}

	.mobile-nav-menu-button--close {
		align-self: flex-end;
	}

	@media (min-width: 500px) {
		display: none;
	}
}

.desktop-navigation {
	display: none;
	color: var(--green);

	@media (min-width: 500px) {
		display: block;
	}
}

.navigation-links {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	align-items: center;

	.mobile-navigation & {
		height: 50%;
		flex-direction: column;
	}

	.desktop-navigation & {
		flex-direction: row;
	}
}

.navigation-link {
	padding: 5px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: 2px solid currentColor;
	}
}

main {
	flex-grow: 1;
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-color: var(--green);
	margin: 20px 15px;
	padding: 20px 20px 50px 20px;

	& h1,
	h2,
	h3,
	h4 {
		color: var(--green);
		font-family: 'Encode Sans', sans-serif;
	}

	& h1 {
		font-weight: 400;
	}

	& h2,
	h3,
	h4 {
		font-weight: 500;
	}

	& strong {
		font-weight: 600;
	}

	p {
		color: black;
		line-height: 24px;

		&:nth-of-type(1) {
			margin-top: 0;
		}
	}

	& a {
		&:hover {
			text-decoration: none;
		}

		&:focus {
			outline: 2px solid currentColor;
		}
	}

	& img {
		border-radius: 3px;
		width: 100%;
		margin: 20px 0;
	}

	& figure {
		width: 100%;
		margin: 30px auto;
		max-width: 580px;
	}

	& figure > img {
		margin: 0;
	}

	& figcaption {
		color: black;
		padding: 3px;
		text-align: right;
		font-size: 0.75rem;
		font-style: italic;
	}

	@media (min-width: 500px) {
		margin-inline: 20px;
		padding-inline: 30px;

		& img {
			width: unset;
			margin: 0;
			max-width: 100%;
		}

		& img:nth-of-type(even) {
			float: left;
			margin-right: 20px;
			margin-left: 0;
		}

		& img:nth-of-type(odd) {
			float: right;
			margin-right: 0;
			margin-left: 20px;
		}
	}
}

td {
	padding: 5px 20px;
}

td:first-of-type {
	font-weight: 600;
}

td:last-of-type {
	font-variant-numeric: tabular-nums;
}

ol {
	margin: 20px 0;
}

ol li {
	margin-top: 20px;
}

.meetings-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	font-size: 0.75rem;

	@media (min-width: 500px) {
		font-size: 1rem;
	}
}

.header-row {
	background-color: lightgray;
	font-weight: 600;
	text-align: center;
}
.meetings-table td:nth-child(n + 2) {
	text-align: center;
	font-variant-numeric: tabular-nums;
}
.meetings-table td,
.meetings-table th {
	border: 1px solid grey;
	padding: 10px 5px;
}

footer {
	padding: 0 30px 50px 30px;
	text-align: center;
	color: var(--green);
	font-size: 0.85rem;
}

.social-links {
	height: 40px;
}

.social-link {
	display: inline-block;
	margin: 10px;
	height: 50px;
	width: 50px;
	padding: 5px;

	&:focus {
		outline: 2px solid var(--green);
	}
}

.logo {
	height: 100%;
	width: 100%;

	&.facebook {
		circle {
			fill: var(--green);

			:hover > & {
				fill: #3c5a9a;
			}
		}

		path {
			fill: white;
		}
	}

	&.instagram {
		path {
			fill: var(--green);
		}

		&:hover {
			path:nth-of-type(1) {
				/* This fill is the gradient defined within the SVG element’s definitions */
				fill: url(#0);
			}
			path:nth-of-type(2) {
				/* This fill is the gradient defined within the SVG element’s definitions */
				fill: url(#1);
			}
		}
	}
}

.google-maps-embed {
	margin: auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	min-height: 400px;

	@media (min-width: 500px) {
		min-height: 450px;
	}
}
