:root {
	--green: #0b5345;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}

a {
	color: inherit;
}

body.no-scroll {
	height: 100vh;
	overflow: hidden;
}

#__next {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.google-maps-embed {
	margin: auto;
	width: 100%;
	max-width: 100%;
	height: auto;
	min-height: 400px;
}

@media (min-width: 500px) {
	.google-maps-embed {
		min-height: 450px;
	}
}
